# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars

# OpenTofu
.tofu/
.tofu.lock.hcl
.tofurc
tofu.rc

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/
.venv

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Bash
*.swp
*.swo
*~
.bash_history

# TODOs
.todos
.todo
TODO

# kubernetes
.kube/
.kubeignore
.kubeconfig
.kubecontext
.kubecontexts
.kubetmp
kubeconfig

# custom
*.disable
*.notowrking
*.todo*

# ansible
*.retry
.ansible/
ansible.log
*.vault
vault-password.txt
.vault_pass

# site2site_vpn
site2site_vpn/vpn-setup/keys
site2site_vpn/vpn-setup/hosts.ini

# models
**/*.joblib
gpu_inference/monitoring/prometheus.yml
**/CONFLUENCE.md
tmp
