# cluster-issuer.yaml
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      # - http01:
      #     gatewayHTTPRoute:
      #       parentRefs:
      #         - name: main-gateway
      #           namespace: web-demo
      - dns01:
          webhook:
            # https://github.com/linode/cert-manager-webhook-linode
            solverName: linode
            groupName: acme.slicen.me
            config:
              apiKeySecretRef:
                name: linode-api-token.external-dns
                key: token
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      # - http01:
      #     gatewayHTTPRoute:
      #       parentRefs:
      #         - name: main-gateway
      #           namespace: web-demo
      - dns01:
          webhook:
            # https://github.com/linode/cert-manager-webhook-linode
            solverName: linode
            groupName: acme.slicen.me
            config:
              apiKeySecretRef:
                name: linode-api-token.external-dns
                key: token
