frr version 8.5.2
frr defaults traditional
hostname {{ host_name }}
service integrated-vtysh-config
!
router bgp 65001
 no bgp ebgp-requires-policy
 bgp bestpath as-path multipath-relax
 neighbor {{ peer_vlan_ip }} remote-as 65001
 !
 address-family ipv4 unicast
  network {{ vlan_vip }}/32 route-map {{ node_role }}
  redistribute static
  neighbor {{ peer_vlan_ip }} activate
 exit-address-family
!
route-map primary permit 10
 set local-preference 200
!
route-map secondary permit 10
 set local-preference 50
!
ipv6 nht resolve-via-default
