apiVersion: v1
kind: Namespace
metadata:
  name: private
  labels:
    name: private
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: curl
  namespace: private
  labels:
    app: curl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: curl
  template:
    metadata:
      labels:
        app: curl
    spec:
      containers:
        - name: curl
          image: curlimages/curl:latest
          command: ["sleep"]
          args: ["3600"]
          resources:
            requests:
              cpu: 50m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
