# Copy this file to terraform.tfvars and adjust values as needed.

# Optional: pin/override the Kubernetes version.
k8s_version = "1.35"

# Restrict control-plane access if desired.
control_plane_ipv4_whitelist_cidrs = [
  "0.0.0.0/0"
]
